::selection {
    color: rgb(81, 255, 0);
    background: rgb(32, 35, 41);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    padding: 18px 0;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-ph {
    width: 200px;
}

.head-title {
    font-size: 44px;
}

.wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about {
    width: 100%;
    margin: 0 0 40px 0;
}

.about-txt {
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 22px;
}

.all-characters {
    color: white;
    font-size: large;
    text-decoration: underline rgb(255, 152, 0);
    transition: all .3s ease-in-out;
}

.all-characters:hover {
    color: rgb(81, 255, 0);
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.signUp_and_signIn {
    text-align: right;
}

.footer {
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    margin-top: 40px;
}

.f-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
}

.follow {
    color: rgb(156, 156, 156);
    margin: 20px 0 0 0;
}

.accounts {
    display: flex;
    margin-top: 16px;
    gap: 12px;
    margin-bottom: 16px;
}

.created {
    color: rgb(156, 156, 156);
}

.author {
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
    text-decoration: underline rgb(255, 152, 0);
    transition: all .3s ease-in-out;
}

.author:hover {
    color: rgb(255, 152, 0);
    text-decoration: none;
    transition: all .3s ease-in-out;
}