.character-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #000;
	border-radius: 20px;
	width: 340px;
}
.character-card__image {
	width: 150px;
	border-radius: 17px 0 0 17px;
}
.character-card__info {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}
.character-card__data {
	font-weight: bold;
}
