.character-card {
	display: flex;
	align-items: center;
	border: 2px solid #000;
	border-radius: 20px;
	width: 500px;
}
.character-card__image {
	width: 50%;
	border-radius: 17px 0 0 17px;
}
.character-card__info {
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
	padding: 0 10px;	
}
