* {
    box-sizing: border-box;
}

:root {
    --main: rgb(254, 153, 1);
    --animation-color: #37FF8B;
}

body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background: rgb(33, 34, 43);
    color: var(--main);

}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}


button {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--main);
}