* {
    box-sizing: border-box;
}

:root {
    --main: rgb(254, 153, 1);
}

body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background: rgb(33, 34, 43);
    color: var(--main);

}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--main);
}